:root{
    --c-red: hsl(0, 100%, 74%) ;
    --c-green: hsl(154, 59%, 51%);
    --c-blue: hsl(248, 32%, 49%);
    --c-dark-blue: hsl(249, 10%, 26%) ;
    --c-grayish-blue: hsl(246, 25%, 77%);
}


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    font-family: 'raleway', sans-serif;
    box-sizing: border-box;

    
    @media only screen and (min-width:2560px){
        font-size: 80%;
    }

    @media only screen and (max-width:1506px){
        font-size: 58%;
    }

    @media only screen and (max-width:1024px){
        font-size: 52%;
    }

}



h1{
    color: var(--c-very-dark-cyan);
    line-height: 1.5;
}


a{
    text-decoration: none;
    line-height: 1.5;
}

li{
    list-style: none;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

input{
    box-sizing: inherit;
    font-family: inherit;
}


.container{
    height: 100vh;
    padding: 10%;

    background: url('images/bg-intro-desktop.png');
    background-color: var(--c-red);
    display: flex;
    align-items: center;

    
    @media only screen and (max-width:768px){
        padding: 10% 5%;
        background: url('images/bg-intro-mobile.png');
        background-color: var(--c-red);
    }
}


.intro{
    display: grid;
    grid-template-columns: 40% 50%;

    @media only screen and (max-width:1024px){
        grid-template-columns: 45% 50%;
    }

    @media only screen and (max-width:768px){
        grid-template-columns: 1fr;
        justify-items: center;
    }

    justify-content: space-between;
    align-items: center;

    &__text{

        @media only screen and (max-width:768px){
            text-align: center;
            margin-bottom: 5rem;
        }
        &__heading{
            color: #fff;
            font-weight: 800;
            font-size: 6rem;
            line-height: 1;
            margin-bottom: 4rem;

            @media only screen and (max-width:1434px){
                font-size: 5.4rem;
            }
            @media only screen and (max-width:768px){
                font-size: 4.2rem;
            }
            @media only screen and (max-width:725px){
                font-size: 3.4rem;
            }

        }

        &__para{
            font-weight: 600;
            color: #fff;
        }
    }


    &__form{
        @media only screen and (max-width:768px){
            width: 100%;
         }

        &__info{
            background-color: var(--c-blue);
            box-shadow: 0 6px 0 rgba( #000000, .2);
            text-align: center;
            padding: 1rem;
            border-radius: 1rem;
            margin-bottom: 3rem;
            max-width: 55rem;
            width: 100%;

            @media only screen and (min-width:2560px){
                max-width: 100%;
            }
            @media only screen and (max-width:768px){
                margin-left: auto;
                margin-right: auto;

            }



            &__text{
                color: #fff;
                font-size: 1.8rem;
                font-weight: 300;


                &--bold{
                    font-weight: 700;
                    @media only screen and (max-width:768px){
                        display: block;
                     }
                }
            }
        }
    }
}

.form{
    background-color: #fff;
    border-radius: 1rem;
    padding: 4rem;
    max-width: 55rem;
    width: 100%;


    @media only screen and (max-width:768px){
        padding:  2rem;
        margin: 0 auto;
    }
    
    @media only screen and (min-width:2560px){
        max-width: 100%;
    }

    &__input{
        width: 100%;
        padding: 1.5rem;
        font-size: 1.4rem;
        font-weight: 700;
        outline: none;
        border-radius: .5rem;
        border: 1px solid var(--c-grayish-blue);
        color: var(--c-dark-blue);
        transition: border .3s ease-in;
        margin-top: 1.5rem;

        &--first{
            margin-top: 0;
        }

        &:focus{
            border-color: var(--c-dark-blue);
        }

    }

    &__label{
        position: relative;
        display: block;

    }

    .error-msg{
        text-align: right;
        display: none;
        padding-top: .5rem;
        font-size: 1.4rem;
        font-weight: 600;
        font-style: italic;
        color: var(--c-red);
    }
    .icon-error{
        position: absolute;
        display: none;
        top: 30%;
        right: 1rem;

        &--first{
            top: 17%;
        }
    }


    &__submit{
        background-color: var(--c-green);
        border: 1px solid var(--c-green);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1;
        box-shadow: 0 4px 0 rgb(66, 168, 124);

        &:focus{
            border-color: var(--c-green);;
        }
    }

    &__terms{
        text-align: center;
        margin: 2rem 0 0 ;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--c-grayish-blue);

        @media only screen and (max-width:768px){
           text-align: center;
        }
    
        &--bold{
            color: var(--c-red);
            font-size: 1.2rem;
            font-weight: 800;
            @media only screen and (max-width:768px){
                display: block;
             }
        }
    }

}