:root {
  --c-red: hsl(0, 100%, 74%) ;
  --c-green: hsl(154, 59%, 51%);
  --c-blue: hsl(248, 32%, 49%);
  --c-dark-blue: hsl(249, 10%, 26%) ;
  --c-grayish-blue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1506px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 52%;
  }
}

h1 {
  color: var(--c-very-dark-cyan);
  line-height: 1.5;
}

a {
  text-decoration: none;
  line-height: 1.5;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

input {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
}

.container {
  height: 100vh;
  padding: 10%;
  background: url("images/bg-intro-desktop.png");
  background-color: var(--c-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10% 5%;
    background: url("images/bg-intro-mobile.png");
    background-color: var(--c-red);
  }
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 50%;
      grid-template-columns: 40% 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  .intro {
    -ms-grid-columns: 45% 50%;
        grid-template-columns: 45% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .intro__text {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.intro__text__heading {
  color: #fff;
  font-weight: 800;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 1434px) {
  .intro__text__heading {
    font-size: 5.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .intro__text__heading {
    font-size: 4.2rem;
  }
}

@media only screen and (max-width: 725px) {
  .intro__text__heading {
    font-size: 3.4rem;
  }
}

.intro__text__para {
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .intro__form {
    width: 100%;
  }
}

.intro__form__info {
  background-color: var(--c-blue);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  max-width: 55rem;
  width: 100%;
}

@media only screen and (min-width: 2560px) {
  .intro__form__info {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .intro__form__info {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro__form__info__text {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
}

.intro__form__info__text--bold {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .intro__form__info__text--bold {
    display: block;
  }
}

.form {
  background-color: #fff;
  border-radius: 1rem;
  padding: 4rem;
  max-width: 55rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .form {
    padding: 2rem;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 2560px) {
  .form {
    max-width: 100%;
  }
}

.form__input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  outline: none;
  border-radius: .5rem;
  border: 1px solid var(--c-grayish-blue);
  color: var(--c-dark-blue);
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
  margin-top: 1.5rem;
}

.form__input--first {
  margin-top: 0;
}

.form__input:focus {
  border-color: var(--c-dark-blue);
}

.form__label {
  position: relative;
  display: block;
}

.form .error-msg {
  text-align: right;
  display: none;
  padding-top: .5rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
  color: var(--c-red);
}

.form .icon-error {
  position: absolute;
  display: none;
  top: 30%;
  right: 1rem;
}

.form .icon-error--first {
  top: 17%;
}

.form__submit {
  background-color: var(--c-green);
  border: 1px solid var(--c-green);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  -webkit-box-shadow: 0 4px 0 #42a87c;
          box-shadow: 0 4px 0 #42a87c;
}

.form__submit:focus {
  border-color: var(--c-green);
}

.form__terms {
  text-align: center;
  margin: 2rem 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--c-grayish-blue);
}

@media only screen and (max-width: 768px) {
  .form__terms {
    text-align: center;
  }
}

.form__terms--bold {
  color: var(--c-red);
  font-size: 1.2rem;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .form__terms--bold {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */